* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('bg2.jpg') no-repeat center center fixed;
    background-size: cover;

}

.calculator {
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(40px);
    background: rgba(255, 255, 255, 0.07);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: relative;
    transition: all 0.3s ease;
}

.calculator:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.6);
}

#display {
    width: 100%;
    padding: 15px;
    font-size: 24px;
    text-align: right;
    background: rgba(255, 255, 255, 0.15);
    border: none;
    border-radius: 10px;
    color: #000000;
    margin-bottom: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.15);
    color: #000000;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6);
}

/* .bottom-right-corner {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    opacity: 0.7;
    font-family: 'Arial', sans-serif;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
} */
